html {
    box-sizing: border-box;
    background-image: url("https://images.theconversation.com/files/275002/original/file-20190516-69195-1yg53ff.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.page-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.left-section{
    position: absolute;
    overflow: hidden;
    width: calc(100% - 360px);
    height: 100%;
    top: 0;
    left: 0;
}

.game {
    display: flex;
    flex-flow: column; 
    padding: 20px;
    text-align: center;
    align-content: center;
    align-items: center;  
    width: 100%;
    height: 100%;
}

.info-container {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin: 15px 0 0;
    text-shadow: 3px 3px 11px rgba(0,0,0,0.36);
}

h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 15px 0 15px;
    text-shadow: 3px 3px 11px rgba(0,0,0,0.36);
}

.clicker {
    margin-top: 15px;
    width: 350px;
    border: 2px solid black;
    text-shadow: 1px 1px 13px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.clicker:hover {
    font-size: 30px;
}

.turnip {
    position: fixed;
    z-index: 1;
    background-size: cover; 
    background-position: center;
    cursor: pointer;
}

.parting {
    position: absolute;
    background-image: url(images/grass.jpg);
    border-right: 2px solid black;
    border-left: 2px solid black;
    height: 100%;
    width: 20px;
    top: 0;
    bottom: 0;
    right: 350px;
}

.right-section {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background: rgba(186, 186, 186, 0.58);
    height: 100%;
    width: 350px;
}

.scroll_container {
    /*height: 70%;*/
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    border-top: 1px solid black;
    /*border-bottom: 1px solid black; 
    box-shadow: -5px 0px 5px 0px #000000;*/
}

.update_buttons {
    margin: 0;
    display: flex;
    flex-flow: column;
    position: relative;
}

button {
    display: inline-block;
    height: 90px;
    font-family: 'Architects Daughter', cursive;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    letter-spacing: 2px;
}

.restart {
    background: transparent; 
    position: absolute;
    padding: 0;
    border: 0;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    color: #ffffff;
    font-size: 35px;
    transition: all 0.2s;
    text-shadow: 3px 3px 11px rgba(0,0,0,0.36);
}

.restart:hover {
    color: #dddddd;
}

.update {
    background-image: url(images/2wood_plank.jpg);
    background-size: cover;
    background-position: center;
    cursor: default;
    color: white;
    text-shadow: 6px 4px 5px #000000;
}

.to-unlock {
    color: yellow;
    cursor: pointer;
    transition: all 0.3s;
}

.to-unlock:hover {
    font-size: 30px;
}

.bought-index {
    float: right;
    margin-right: 10px;
    color: #b9b5b5;
    font-size: 30px;
}

.confirmation
{
    display: none;
    background-color: #eee;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    /*border-image-source: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );*/
    border-image-source: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin: 0;
    position: absolute;
    width: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    z-index: 100;
}

.confirmation .text-block {
    /*border: 1px solid black;*/
    padding: 15px;
    margin: 5px;
}

.confirmation p {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 7px rgba(65, 65, 65, 0.27);
}

.confirmation button {
    background-color: #ebffeb;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 0 0 7px 1px rgba(93, 93, 93, 0.3);
    padding: 2px;
    text-align: center;
    width: 80px;
    height: 40px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s all;
}
         
.confirmation button:hover {
    background-color: #bdddbd;
}

.underline {
    background: rgb(0,102,43);
    background: radial-gradient(circle, rgba(0,102,43,1) 0%, rgba(19,170,82,1) 100%); 
    border-radius: 5px;
    height: 1px;
    width: 90%;
    margin: 6px auto;
    position: relative;
}

.dark-background {
    display: none;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 10; 
    background: rgba(8, 8, 8, 0.5);
}
